<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" th:href="@{/static/image/zookeeper_small.gif}" />
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/toastr/toastr.css}">
    <link rel="stylesheet" th:href="@{/static/css/admin.css}">
    <style>
        body{
            background-color:#224b8f;
        }
    </style>
</head>
<body>
<div id="mydiv">
    <form class="form-sign-in" th:action="@{/sign_in}" method="post">
        <h2 style="text-align: center;color:white;">zookeeper console</h2>
        <br>
        <br>
        <div class="form-group">
            <label for="input_username" class="sr-only">用户名</label>
            <input type="text" id="input_username" class="form-control" name="username" value="" placeholder="用户名">
        </div>
        <div class="form-group">
            <label for="input_password" class="sr-only">密码</label>
            <input type="password" id="input_password" class="form-control" name="password" placeholder="密码">
        </div>
        <button class="btn btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/toastr/toastr.js}"></script>
<script type="text/javascript" th:src="@{/static/js/canvas-particle.js}"></script>
<script th:inline="javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
    var failMessage = /*[[${loginFailMessage}]]*/ "";
    if (failMessage) {
        toastr["error"](failMessage);
    }
    window.onload = function() {
        //配置
        var config = {
            vx: 4,	//小球x轴速度,正为右，负为左
            vy: 4,	//小球y轴速度
            height: 2,	//小球高宽，其实为正方形，所以不宜太大
            width: 2,
            count: 200,		//点个数
            color: "121, 162, 185", 	//点颜色
            stroke: "130,255,255", 		//线条颜色
            dist: 6000, 	//点吸附距离
            e_dist: 20000, 	//鼠标吸附加速距离
            max_conn: 10 	//点到点最大连接数
        }

        //调用
        CanvasParticle(config);
    }
</script>
</body>
</html>